<%- include('../template/header') %>
<%- include('../componants/topbar') %>

<link rel="stylesheet" href="/assets/css/login-register.css">

<main>
    <% if (locals.flash && locals.flash.error) { %>
    <div class="error box" id="suc">
        <p><%= flash.error%></p>
        <div class="cross">
            <div class="layers"></div>
        </div>
    </div>
   <% } %> 
    <% if (locals.flash && locals.flash.success) { %>
    <div class="success box" id="suc">
        <p><%= flash.success %></p>
        <div class="cross">
            <div class="layers"></div>
        </div>
    </div>
   <% } %> 
    <div class="container">
    <h2>Récupération du mot de passe</h2>
        <form action="/password/" method="post">
            <div class="inputs">
                <input type="text" name="email" placeholder="Email">
            </div>
            <input type="submit" value="Récupérer mon mot de passe">
        </form>
    </div>
</main>
<script src="/assets/js/Error.js"></script>
<%- include('../template/footer') %>